.quote-section {
  justify-content: center;
  margin-bottom: 85px;
  opacity: 1;
  &__quote {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    text-transform: none;
  }
  &__author {
    opacity: 0.6;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .quote-section {
    .quote-section-column {
      max-width: 80%;
      flex: 0 0 80%;
    }
  }
}

@media (max-width: 767.98px) {
  .quote-section {
    &__quote {
      font-size: 28px;
      line-height: 40px;
    }
  }
}

@media (max-width: 575.98px) {
  .quote-section {
    margin-top: 2em;
    margin-bottom: 2em;
    &__quote {
      font-size: 20px;
      line-height: 32px;
    }
  }
}
