.main-nav {
  &__item {
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #222222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    padding: 0.5rem 1rem;
    &:hover {
      opacity: 1;
      color: #222222;
      text-decoration: none;
    }
  }
  &__button.btn {
    padding: 12px 25px;
    border-radius: 0px;
    background-color: #1a1b1f;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}

.logo {
  width: 250px;
  height: 100px;
}

.main-nav-button.btn {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease,
    color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 1199.98px) {
  .logo {
    width: 200px;
  }
}

@media (max-width: 991.98px) {
  .main-nav__button--wrapper {
    text-align: center;
  }
}
