.social-section {
  &__icon {
    margin-left: 0.5em;
    margin-right: 0.5em;
    a {
      color: #222222;
      text-decoration: none;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
    }
  }
  justify-content: center;
  margin: 38px 0px;
  opacity: 1;
}
