.recommended-slider {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #fff;
  margin-right: 30px;
  margin-left: 30px;
  padding: 110px 80px 120px 80px;
  &__heading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    text-transform: none;
  }
}

@media (max-width: 1199.98px) {
  .recommended-slider {
    img {
      width: 80%;
    }
  }
}

@media (max-width: 575.98px) {
  .recommended-slider {
    padding: 2em 10px 5em 10px;
    &__heading {
      font-size: 30px;
      line-height: 44px;
    }
  }
}
