.newsletter-cta-section {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
  margin-right: 30px;
  margin-left: 30px;
  padding: 110px 80px 120px 80px;
  &__button.btn {
    padding: 12px 25px;
    border-radius: 0px;
    background-color: #1a1b1f;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease,
      color 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__heading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    text-transform: none;
  }
}
