.footer {
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  background-color: #0b879d;
  opacity: 1;
  color: #fff;
}
