body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-track img {
  margin-left: auto;
  margin-right: auto;
}
